:root{
    --primary-color:#005198;
    --secondary-color:#009e56;
    --third-color:#98999d;
}
header{
    padding: 5px 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #005198;
    overflow: hidden;
    ul{
        display: flex;
        list-style: none;
        gap: 50px;
        flex-wrap: wrap;
    }
    
}
header li a:hover{
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}
a{
    text-decoration: none;
    color: white;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 10px 15px;
    transition: 0.2s ease;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
table{
    border-collapse: collapse;
    width: 100%;
}
.datasection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 50px;
}
th{
    width: 12.5%;
    height: 50px;
}
.container{
    padding: 50px 100px;
}
.input{
    display: flex;
    flex-direction: column;
}
form .inputs{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}

.input input{
    height: 50px;
    padding: 5px 10px;
    width: 100%;
}
.input select{
    height: 50px;
}
#submit {
    margin: 20px auto 0 auto;
    display: block;
    padding: 15px;
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    font-size: 19px;
    color: white;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-weight: 700;
}
#submit:hover{
    background-color: white;
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
}

table button:first-child{
    background-color: var(--secondary-color);
    color: white;
    padding: 5px 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 19px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s ease;
}
table button:first-child:hover{
    background-color: inherit;
    color: var(--secondary-color);
}
table button:last-child:hover{
    background-color: inherit;
    color: rgb(251, 68, 68);
}
table button:last-child{
    background-color:rgb(251, 68, 68);
    color: white;
    padding: 5px 10px;
    border: 2px solid rgb(251, 68, 68);
    border-radius: 19px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s ease;
}

table td:last-child{
    padding: 15px;
    display: grid;
    gap: 5px;
    overflow: hidden;
    border: none;

}
table td{
    text-align: center;
}
.search{
    padding: 50px 100px;
}
.search input{
    height: 50px;
    padding: 5px 10px;
    width: 450px;
}
.search button{
    margin: 0 0;
    padding: 8px;
    height: 50px;
    border: 3px solid var(--secondary-color);
    background-color: var(--secondary-color);
    font-size: 19px;
    color: white;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-weight: 700;
}
.search button:hover{
    background-color: white;
    color: var(--secondary-color);

}
#retourBtn:hover{
    background-color: white;
    color: var(--third-color);

}
#retourBtn{
    padding: 8px;
    width: 90px;
    display: block;
    margin: 5px auto;
    height: 50px;
    border: 3px solid var(--third-color);
    background-color: var(--third-color);
    font-size: 19px;
    color: white;
    border-radius: 50% 0 0 50%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-weight: 700;
}